.App {
  text-align: center;
}

.layout {
  font-family: 'Vulf-mono', sans-serif;
  font-size: 1.5rem;
}

.site-layout-content {
  display: flex;
  justify-content: center;
  background: linear-gradient(white, #001529)
}

.menu {
  display: flex;
  align-items: flex-end;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  align-items: flex-end;
}

.site-layout-content {
  flex-direction: column;
  align-items: center;
}

.footer-copyright {
  padding-top: 16px;
}

@media only screen and (max-width: 600px) {
  .menu {
    align-items: flex-start;
  }
  #logo {
    font-size: 1.5rem;
    padding-right: 10vh;
  }
  .ant-layout-header {
    padding: 0;
  }
  #header {
    padding: 0px;
  }
  #about-me {
    margin-left: 0;
    margin-right: 0;
  }
  .ant-menu-submenu {
    padding-left: 300px;
  }
}