.App {
  text-align: center;
}

.layout {
  font-family: 'Vulf-mono', sans-serif;
  font-size: 1.5rem;
}

.site-layout-content {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: flex-end;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  align-items: flex-end;
}